<article class="col-md-6" id ="bloc-info">
    <div class="well well-sm">
        <h4 class="titre-head"><i class="fa fa-home"></i> Informacje o koncie użytkownika</h4>
        <div class="trait"></div>
        <p><i class="fa fa-map-marker"></i> <strong>Twój adres Ip</strong></p>
        <ul>
            <li><strong class="text-success">{{ ipUser }}</strong></li>
        </ul>
        <p><i class="fa fa-hdd-o"></i> <strong>Miejsce na dysku</strong></p>
        <p class="text-center text-defaut-color">
            Użyto <strong>{{ user.userdisk.percentage_used }}%</strong>
            <em>czyli {{ user.userdisk.used_disk}} z {{ user.userdisk.total_disk }} ( {{ user.userdisk.free_disk }} Libre )</em>
        </p>
        <div class="progress progress-striped fix-progress">
            <div class="progress-bar {{ user.userdisk.progessBarColor }}" role="progressbar" aria-valuenow="{{ user.userdisk.percentage_used }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user.userdisk.percentage_used }}%;">
                <span class="sr-only">{{ user.userdisk.percentage_used }}% Pełny</span>
            </div>
        </div>

        <p><i class="fa fa-clock-o"></i> <strong>Uptime serwera</strong></p>
        <ul>
            <li><strong class="text-success">{{ serveur.getUptime }}</strong></li>
        </ul>

        <p><i class="glyphicon glyphicon-stats"></i> <strong>Obciążenie serwera</strong></p>
        <ul>
            <li style="cursor:default;">
                <span class="text-defaut-color">Srednie obciążenie : </span>
                <span data-original-title="Średnie obciążenie w czasie 1 min" class="label label-primary load-average">{{ serveur.load_average.load_average.0 }}</span>
                <span data-original-title="Średnie obciążenie w czasie 5 min" class="label label-primary load-average">{{ serveur.load_average.load_average.1 }}</span>
                <span data-original-title="Średnie obciążenie w czasie 15 min" class="label label-primary load-average">{{ serveur.load_average.load_average.2 }}</span>
            </li>
            <li id="load-info">{{ serveur.load_average.info_charge|raw }}</li>
        </ul>
    </div>
</article>
